In [1]:
import pandas as pd

# 2019-2020 School Locations

In [21]:
df = pd.read_csv('2019_-_2020_School_Locations.csv')

In [22]:
#system_code is the DBN

In [23]:
df.dtypes

fiscal_year                            int64
system_code                           object
location_code                         object
location_name                         object
BEDS                                   int64
Managed_by_name                       object
location_type_description             object
Location_Category_Description         object
Grades_text                           object
Grades_final_text                     object
open_date                             object
Status_descriptions                   object
Primary_building_code                 object
primary_address_line_1                object
State_code                            object
X_COORDINATE                         float64
Y_COORDINATE                         float64
LONGITUDE                            float64
LATITUDE                             float64
Community_district                   float64
Council-district                     float64
Census_tract                         float64
Borough_block_lot                    float64
NTA                                   object
NTA_Name                              object
Principal_Name                        object
Principal_title                       object
Principal_phone_number                object
fax_number                            object
Geographical_District_code             int64
Administrative_District_Code           int64
Administrative_District_Name          object
community_school_sup_name             object
Tier_3_Support_Location_Name          object
Tier_3_Support_Leader_Name            object
Tier_2_Support_Location_Name          object
HighSchool_Network_Location_Code      object
HighSchool_Network_Name               object
HighSchool_Network_Superintendent     object
Community_district 1                 float64
Police_precinct                      float64
dtype: object

In [ ]:
#2190 rows

In [24]:
len(df)

2190

# Are DBNs repeated?

In [ ]:
#yes

In [26]:
df.system_code.value_counts().head(20)

27Q480    2
02M316    2
02M340    2
05M362    2
84K744    2
10X696    2
02M896    2
11X096    2
03M479    2
02M560    2
02M580    2
17K138    2
20K170    2
09X260    2
23K041    2
10X575    2
02M400    2
02M040    2
27Q370    2
22K109    2
Name: system_code, dtype: int64

In [ ]:
#drop duplicates

In [27]:
df = df.drop_duplicates()

In [ ]:
#worked

In [28]:
df.system_code.value_counts()

01M015    1
84K930    1
27Q650    1
21K097    1
31R042    1
         ..
13K113    1
03M452    1
08X424    1
17K340    1
10X315    1
Name: system_code, Length: 2131, dtype: int64

In [ ]:
#got rid of about sixty entries

In [29]:
len(df)

2131

In [30]:
df

,fiscal_year,system_code,location_code,location_name,BEDS,Managed_by_name,location_type_description,Location_Category_Description,Grades_text,Grades_final_text,...,Administrative_District_Name,community_school_sup_name,Tier_3_Support_Location_Name,Tier_3_Support_Leader_Name,Tier_2_Support_Location_Name,HighSchool_Network_Location_Code,HighSchool_Network_Name,HighSchool_Network_Superintendent,Community_district 1,Police_precinct
0,2020,15K001,K001,P.S. 001 The Bergen,331500010001,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",...,COMMUNITY SCHOOL DISTRICT 15,"SKOP, ANITA",NYCDOE Borough Office - Brooklyn North,NaN,School Support Team 5- Brooklyn North,NaN,NaN,NaN,307.0,72.0
1,2020,17K002,K002,Parkside Preparatory Academy,331700010002,DOE,General Academic,Junior High-Intermediate-Middle,"06,07,08,SE","06,07,08",...,COMMUNITY SCHOOL DISTRICT 17,"ELLIS, CLARENCE",NYCDOE Borough Office - Brooklyn South,Mauriciere de Govia,School Support Team 2- Brooklyn South,NaN,NaN,NaN,309.0,71.0
2,2020,13K003,K003,P.S. 003 The Bedford Village,331300010003,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",...,COMMUNITY SCHOOL DISTRICT 13,"SAMUELS, KAMAR",NYCDOE Borough Office - Brooklyn North,NaN,School Support Team 3- Brooklyn North,NaN,NaN,NaN,303.0,79.0
3,2020,75K004,K004,P.S. K004,307500013004,DOE,Special Education,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05,06,07,SE",...,CITYWIDE SPECIAL EDUCATION,"LOUISSAINT, KETLER",D75 CITYWIDE BCO,Tillman Roberto,Children First Network 752,NaN,NaN,NaN,305.0,75.0
4,2020,16K005,K005,P.S. 005 Dr. Ronald McNair,331600010005,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",...,COMMUNITY SCHOOL DISTRICT 16,"MARTIN, YOLANDA",NYCDOE Borough Office - Brooklyn North,NaN,School Support Team 4- Brooklyn North,NaN,NaN,NaN,303.0,81.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2184,2020,75X723,X723,P.S. 723,307500012723,DOE,Special Education,K-12 all grades,"0K,01,02,03,04,05,06,07,08,09,10,11,12,SE","01,02,03,04,05,06,07,08,09,10,11,12,SE",...,CITYWIDE SPECIAL EDUCATION,"LOUISSAINT, KETLER",D75 CITYWIDE BCO,Tillman Roberto,Children First Network 752,NaN,NaN,NaN,212.0,47.0
2185,2020,84X729,X729,Readnet Bronx Charter School,320700860842,Charter,General Academic,Elementary,"01,02",NaN,...,OFFICE OF CHARTER SCHOOLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201.0,40.0
2186,2020,84X730,X730,Bronx Charter School for the Arts,320800860846,Charter,General Academic,Elementary,"0K,01,02,03,04,05,06,07","0K,01,02,03,04,05,06,07,08",...,OFFICE OF CHARTER SCHOOLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202.0,41.0
2187,2020,75X754,X754,J. M. Rapport School Career Development,307500012754,DOE,Special Education,High school,"09,10,11,12,SE","09,10,11,12,SE",...,CITYWIDE SPECIAL EDUCATION,"LOUISSAINT, KETLER",D75 CITYWIDE BCO,Tillman Roberto,Children First Network 755,NaN,NaN,NaN,201.0,40.0
2188,2020,75X811,X811,P.S. X811,307500012811,DOE,Special Education,Secondary School,"08,09,10,11,12,SE","07,08,09,10,11,12,SE",...,CITYWIDE SPECIAL EDUCATION,"LOUISSAINT, KETLER",D75 CITYWIDE BCO,Tillman Roberto,Children First Network 755,NaN,NaN,NaN,203.0,42.0